html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
  }
  
  .App-header {
    /* background-color: #282c34; */
    background-image: url('../images/scott-webb-22697-unsplash.jpg');
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    /* color: #61dafb; */

    color: #ffffff;
    background-color: cornflowerblue;
    box-shadow: 0 2px 0.01px rgba(0, 0, 0, 0.48), 0 3px 3px rgba(0, 0, 0, 0.67);
    border-radius: 7px;
    font-weight: 400;
    padding: 8px;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  


  /* ################################################## */

  .navbar {
    position: fixed !important;
    width: 100% !important;
    box-shadow: 0 2px 0.01px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23); 
    z-index: 1000;
}

.card{
    height: 700px;
}

.section-spacing{
    height: 100px;
}

.section-heading h2{
    color: red;
    font-size: 50px;
}

.section-heading h6{
    color: rgb(75, 65, 65);
    font-size: 30px;
}

.experts-team-members{
display: flex;
}
.single-team-members{
  width: 25%;

}

.team{
  width: 100%;
}

.footer{
  background-color: #1B1C1D;
  width: 100%;
  height: 300px;
  color: #fff;
}

/* FLEX */
.flex-container {
  display: flex;
  width: 100%;
  height:100%;
  /* min-height: 300px; */
}

.flex-container > .child {
  width: 100%;
  max-height: 100%;
  line-height: 27px;
}
.flex-container > .child-center {
  width: 100%;
  max-height: 100%;
  line-height: 27px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.fs50{
  font-size: 50px;
}
.fs70{
  font-size: 70px;
}
.fs150{
  font-size: 150px;
}

/* Footer */
/* .hm-gradient {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
  color: #2E2E2E;
} */

/* Scroll Bar style  */
/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
background: rgba(0,0,0,0.1);
border: 1px solid #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
background: linear-gradient(left, #fff, #e4e4e4);
border: 1px solid #aaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #007bff;
}
/* END Scroll Bar style  */

a {
  color: #ffffff;
}